@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Kyle University</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Kyle University</h2>
        <p>
            Kyle University is a demo app that demonstrates how to use Entity Framework 6 in an ASP.NET MVC 5 web application. 
        </p>
        <p>. . . . Yeah, I don't get it either.</p>
    </div>
    <div class="col-md-4">
        <h2>Built from ground up</h2>
        <p>You can build the application by following the steps in this tutorial, and I am just talking to myself here.</p>
        <p><a class="btn btn-default" href="http://infinitymugenteam.com/">MUGEN &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Lazy Here</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>